arabic-reshaper
asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-allauth
django-cors-headers
django-rest-auth
djangorestframework
future
html5lib
idna
lxml
oauthlib
Pillow
pycparser
PyJWT
PyMySQL
PyPDF2
python-bidi
python-docx
python3-openid
pytz
reportlab
requests
requests-oauthlib
six
sqlparse
stripe
typing-extensions
urllib3
webencodings
xhtml2pdf
dj_database_url
gunicorn
psycopg2


