@import "theme/variable";
$primary: var(--primary);
$secondary: var(--secondary);
$light: var(--light);
$dark: var(--dark);
@import "theme/style";
@import "theme/responsive";
@import "theme/keyframes";
@import "theme/customize";
@import "theme/theme-dark";
@import "theme/theme-rtl";
@import "theme/nav";
@import "flaticon";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700;800&display=swap");

h3,
h1,
h2,
h4,
h5,
h6,
body,
p,
span,
li,
a {
  font-family: "Barlow Condensed", sans-serif !important;
}

.top-header-right {
  li {
    a {
      font-size: 20px;
    }
  }
}

.h100 {
  height: 100%;
}

.pricing_crr {
  min-height: 700px;
  background-color: white;
  margin: 0px 6px;
  border-radius: 6px;
}

.theme-pannel-main {
  display: none;
}
//
.event.login {
  display: flex;
  align-items: center;
  align-self: center;
  min-height: 100vh;
  height: auto;
  overflow-y: hidden;
  p {
    font-size: 25px;
  }
  .bg-white {
    border-radius: 15px;
    overflow: hidden;
    .event-btn {
      background-color: #0a285e !important;
    }
    .event-btn:hover {
      color: #ffffff !important;
      border: 1px solid #287184 !important;
      background-color: #287184 !important;
    }
    form .form-group {
      margin-bottom: 40px;
      .password {
        position: relative;
      }
      label,
      input {
        font-size: 16px;
      }
      .btn-default {
        background-color: #0a285e !important;
      }
      .show-hide-icon {
        position: absolute;
        top: 22px;
        right: 15px;
        cursor: pointer;
        .fa {
          font-size: 14px;
        }
      }
    }
  }
}
.header .bg.agency {
  background-image: url(/assets/images/header.jpg);
  background-position: right;
}

// filter: brightness(0) invert(1);

.d-flex {
  label {
    color: white;
    font-weight: 600;
    position: relative;
    top: -5px;
    right: -5px;
  }
}

.agency.header {
  h1 {
    color: #ffffff;
    font-size: 65px;
    text-transform: uppercase;
    font-family: "Barlow Condensed", sans-serif;
    @media screen and (max-width: 767px) {
      font-size: 30px;
    }
  }
  p {
    color: #ffffff;
    font-size: 40px !important;
    text-transform: uppercase;
    font-family: "Barlow Condensed", sans-serif;
    @media screen and (max-width: 767px) {
      font-size: 30px !important;
      line-height: normal !important;
    }
  }
  span {
    font-family: "Barlow Condensed", sans-serif;
  }
}
.agency-content .agency-para {
  font-size: 20px !important;
}
.btn-default {
  font-size: 16px;
}
// .agency{
.bg .btn-default.btn-gradient {
  background: #3dbc93 !important;
}
// }
.agency.footer2 {
  background: #262f36;
  background-image: none !important;
  // padding: 70px 30px 40px
}
.footer-first {
  padding: 70px 30px 40px;
}
.copyright.agency {
  background: #262f36;
}
.footer-para {
  h6 {
    text-transform: initial;
  }
}
.agency.footer2 .footer-contant .footer-headings {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding-bottom: 10px;
  margin-bottom: 15px;
  position: relative;
  z-index: 9;
  font-size: 24px;
}
h6.text-white.para-address {
  font-size: 16px;
  letter-spacing: 0.8px;
}
.footer-contant img {
  filter: brightness(0) invert(1);
}
.agency.footer2 .footer-contant .footer-headings::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #30bc93;
  left: 0;
  bottom: -1px;
  position: absolute;
  display: block;
}
.app1 {
  background: none !important;
  h3 {
    color: #ffffff;
    line-height: 1.4;
    font-weight: 300;
    font-size: 40px;
    font-family: "Barlow Condensed", sans-serif;
    @media screen and (max-width: 767px) {
      font-size: 25px;
    }
  }
  .green {
    color: #30bc93;
  }
}
.lower-triangle {
  width: 73%;
  line-height: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  opacity: 0.1;
  transform: rotate(-90deg);
}
.upper-triangle {
  width: calc(30% - 50px);
  line-height: 0;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
  opacity: 0.1;
  transform: rotate(90deg);
}
// .app1 .border-bottom{
//   opacity: 0.5;
// }
.agreed-row {
  padding: 40px 0px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
}
.agreed-row a {
  color: #3dbc93;
  font-size: 16px;
  font-family: "Barlow Condensed", sans-serif;
}
.agreed-row {
  .form-check-input {
    margin-top: 0.7rem;
  }
}

.app1::after {
  content: "";
  width: 86%;
  max-width: 1070px;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
  bottom: 15%;
  left: 50%;
  margin-left: -43%;
  position: absolute;
  display: block;
}
.small-border {
  background-color: #000000;
  height: 2px;
  margin: 2px;
  width: 10px;
  display: inline-block;
}
.underlined:before {
  content: "";
  width: 100%;
  height: 10px;
  background: #34b0e9;
  left: 0;
  bottom: 2px;
  display: block;
  position: absolute;
  z-index: -1;
}
.underlined {
  position: relative;
  font-family: "Barlow Condensed", sans-serif;
}
.underlined.blue-underline:before {
  background: #3dbc93;
}
.service-bg {
  h2 {
    font-size: 55px !important;
    line-height: 1.4;
    color: #000000;
    @media screen and (max-width: 767px) {
      font-size: 45px !important;
    }
  }
}
.agency h4 {
  font-size: 24px;
}
.process {
  li {
    padding: 10px 0px 10px 10px;
    list-style-type: decimal;
    font-size: 20px;
    font-family: "Barlow Condensed", sans-serif;
    color: #464545;
  }
}

.saas2 {
  .offers-container {
    .offer-heading-text {
      font-size: 45px;
      @media screen and (max-width: 767px) {
        font-size: 30px;
      }
    }
    h4 {
      font-size: 28px;
      @media screen and (max-width: 767px) {
        font-size: 20px;
      }
    }
    p {
      font-size: 22px;
      @media screen and (max-width: 767px) {
        font-size: 16px;
      }
    }
  }
}
.saas2.bg-gradient {
  // background-image: linear-gradient(#3dbc93,#0a285e) !important;
  background-image: linear-gradient(#0a285e, #3dbc93) !important;
}

.resume {
  // background: #203475;
  position: relative;
  background: url(/assets/images/agency/testimonial/bg.png) center top / cover
    no-repeat;
  background-position: center top;
  background-repeat: no-repeat;
  p {
    @media screen and (max-width: 767px) {
      font-size: 16px !important;
    }
  }
  h2 {
    font-size: 45px;
    @media screen and (max-width: 767px) {
      font-size: 30px;
    }
  }
  h6 {
    font-size: 26px;
  }
  .event-container {
    max-height: 500px;
    h4 {
      font-size: 25px;
      @media screen and (max-width: 767px) {
        font-size: 20px;
      }
    }
  }
}
.agency.testimonial-bg {
  background: #203475 !important;
  // background-image: linear-gradient(#203475,#203475 ,#3dbc93 ) !important;
}
.schedule .scrollbar::-webkit-scrollbar-thumb {
  background-color: #c1c0c0ee;
}
.title.title2 .borders span:before,
.title.title2 .borders span:after {
  border-top: 2px solid #0a285e;
}
.video-sec {
  // background: #1e3475 !important;
  margin: 20px 0px 40px;
  background-image: linear-gradient(#0a285e, #3dbc93) !important;
}
.videos .video {
  background-image: url(/assets/images/event/22.jpg);
  z-index: 1;
  background-size: cover;
  padding: 125px 0px;
  border-radius: 10px;
  background-repeat: no-repeat;
}
.circle {
  display: flex;
  background-color: #0a285e;
  width: 50px;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 50%;
  color: #ffffff !important;
  font-size: 30px;
  font-weight: bold;
}
.testimonial-info {
  p {
    font-size: 20px;
    text-align: center;
    min-height: 140px;
    @media screen and (max-width: 767px) {
      font-size: 16px;
    }
  }
  .primary-border {
    margin: 0px auto;
  }
}
.testimonial {
  span {
    font-size: 22px !important;
    color: #ffffff !important;
  }
  h2 {
    font-size: 32px;
  }
}
.agency {
  .para2 {
    min-height: 215px;
    color: #656363 !important;
    position: relative;
    .link-horizontal {
      position: absolute;
      width: 100%;
      bottom: 10px;
    }
  }
}

.event.event-gradient::before {
  background-image: linear-gradient(#0a285e, #3dbc93) !important;
}

.slick-track {
  .link-horizontal {
    display: none;
  }
}
.slick-track .slick-slide:first-child {
  .link-horizontal {
    display: block;
  }
}
// header {
// .navbar.mr-auto{
//   @media screen and (max-width:767px){
//     margin-left: auto !important;
//     margin-right: 0px !important;
//   }
// }
.navbar-light .navbar-toggler-icon {
  background-color: #ffffff;
}
.navbar-collapse {
  @media screen and (max-width: 767px) {
    background-color: #ffffff;
  }
}
.navbar {
  padding: 25px 0px;
  display: flex;

  .navbar-brand {
    img {
      filter: brightness(0) invert(1);
    }
  }
  .nav-item {
    a {
      font-size: 20px;
      color: #ffffff;
      padding-left: 0.8rem !important;
      padding-right: 0.8rem !important;
      @media screen and (min-width: 768px) {
        color: #ffffff !important;
      }
    }
  }
}

.header-bg {
  position: absolute;
  z-index: 600;
  width: 100%;
}
.event.login .bg-white .btn-facebook {
  background-color: #4063ac !important;
  border-radius: 5px;
  padding: 10px 15px;
  min-width: 165px;
  img {
    max-width: 15px;
    margin-right: 10px;
  }
}
.event.login .bg-white .btn-facebook:hover {
  background-color: #0a285e !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
}
.event.login .bg-white .btn-google {
  background-color: #ffffff !important;
  border-radius: 5px;
  padding: 10px 15px;
  color: #000000 !important;
  min-width: 165px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  img {
    max-width: 15px;
    margin-right: 10px;
  }
}
.event.login .bg-white .btn-google:hover {
  background-color: #ffffff !important;
  color: #000000 !important;
  border-color: #ffffff !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
}

.services {
  // background-image: url(/assets/images/header.jpg);
  background-color: #262f36;
  .service {
    background-color: #ffffff;
  }
  .service.service-overlay:hover {
    background: linear-gradient(#3dbc93, #4063ac);
  }
  .feature-text {
    font-size: 20px;
  }
  p {
    font-size: 18px;
  }
}

.resume.portfolio-section {
  background-image: linear-gradient(#0a285e, #3dbc93) !important;
}
.portfolio-section {
  .filter-section {
    .filter-container.nav-tabs .nav-link {
      color: #ffffff;
      font-size: 25px;
    }
    h6 {
      font-size: 16px;
      line-height: inherit;
      margin-top: 0px;
      margin-bottom: 0px;
      color: #ffffff;
    }
  }
}

.tab-content.scrollbar,
.filter-section .scrollbar {
  max-height: 240px;
  padding: 0px 5px 0px 0px;
  overflow: auto;
}
.tab-content.scrollbar::-webkit-scrollbar,
.filter-section .scrollbar::-webkit-scrollbar {
  width: 6px;
}

.portfolio-section .schedule .scrollbar {
  overflow-y: auto !important;
}
.portfolio-section .nav-tabs {
  height: 205px;
}
.portfolio-section .tab-content {
  height: 250px;
  @media screen and (max-width: 767px) {
    height: auto;
  }
}
.portfolio-section.masonray-sec .isotopeContainer {
  @media screen and (max-width: 767px) {
    margin-top: 0px;
  }
}

.justify-content-start nav {
  justify-content: flex-start;
  @media screen and (max-width: 767px) {
    justify-content: flex-end;
    padding-right: 15px;
  }
}
.pagination {
  li {
    margin-right: 10px;
  }
}
.modal-no-header.close-right .close {
  right: 14px;
  top: 8px;
  background: transparent;
}

.add-popup {
  .form-group {
    input,
    select,
    textarea {
      border: 1px solid #eaeaea;
      background-color: #efefef;
      // border-radius: 50px;
      padding: 12px;
      padding-left: 30px;
      font-size: 12px;
    }
  }
  .form-check {
    margin-bottom: 10px;
    padding-left: 10px;
  }
  .btn-default {
    font-size: 14px;
    text-transform: capitalize;
  }
}
.agency.price-bg {
  background-image: linear-gradient(#0a285e, #3dbc93) !important;
  padding-top: 150px;
}

.admin-form {
  background: #262f36;
  footer,
  .footer-first {
    padding-top: 40px !important;
  }
}

.admin-table {
  padding-top: 200px;
  display: block;
  .table {
    td {
      color: #ffffff;
      font-size: 14px;
      .plus-icon {
        text-align: center;
        padding-top: 5px;
        display: block;
        @media screen and (max-width: 767px) {
          width: 60px;
        }
      }
    }
    .form-control {
      font-size: 14px;
      @media screen and (max-width: 767px) {
        width: 120px;
      }
    }
  }
}
.subcribed-page {
  .item {
    width: 500px;
    margin: auto;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    .set-border {
      margin: 20px 70px !important;
    }
    .large {
      color: #203475;
    }
    h5 {
      font-weight: 500;
    }
  }
}
.user-info {
  background-color: #142c65;
  .admin-table {
    padding: 0px 0px 40px;
    @media screen and (max-width: 767px) {
      margin: 0px 15px;
      width: 90%;
    }
    .table {
      color: #ffffff;
      .plus-icon {
        img {
          width: auto;
        }
      }
    }
  }
}
.saved-rules {
  background-color: #142c65;
  padding-top: 120px;
  h2 {
    color: #fff !important;
  }
}
//Payment Page
.payment-page {
  height: 100vh;
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    height: auto;
    padding-top: 200px !important;
  }
  h2 {
    color: #ffffff;
    padding-bottom: 50px;
  }
  label {
    color: #ffffff;
  }
  .card {
    border-radius: 3px;
    background-color: #ffffff;
    .f-14 {
      font-weight: 500;
    }
  }
  .card-details {
    margin-left: auto;
    width: 80%;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    label {
      color: #4e4e4e;
    }
    span {
      padding-bottom: 20px;
      color: #ffffff;
    }
    .remove-account {
      padding-top: 30px;
      a {
        color: #ffffff;
      }
    }
  }
}
//success page
.payment-successful-page {
  text-align: center;
  background-image: linear-gradient(#0a285e, #3dbc93);
  @media screen and (max-width: 767px) {
    height: 100vh;
  }
  .card-title {
    text-align: center;
    border-bottom: 1px solid #eaeaea;
    .payment-successful-icon {
      max-width: 100px;
    }
    h5 {
      font-size: 35px;
      font-weight: 500;
      @media screen and (max-width: 767px) {
        font-size: 25px;
      }
    }
    p {
      font-size: 16px;
      margin-bottom: 25px !important;
    }
  }
  .card-text {
    // text-align: left !important;
    margin-bottom: 25px;
    padding-top: 25px;
    p {
      font-size: 16px;
    }
  }
  .btn-secondary {
    background-color: #0a285e;
    border-color: #0a285e;
  }
}
.footer {
  .footer-lists {
    li {
      a {
        @media screen and (max-width: 767px) {
          font-size: 16px;
        }
      }
    }
  }
}
//tabs-mobile
.filter-section {
  .filter-container.nav-tabs {
    .nav-item {
      width: 100%;
      text-align: left;
      .nav-link {
        text-decoration: none;
      }
      .nav-link.active {
        background-color: white !important;
        text-decoration: none;
        color: #013365 !important;
        transition: 0.4s;
        border-radius: 8px;
      }
    }
  }
}

//contact page
.question {
  padding-top: 120px;
  .format-head-text {
    text-align: center;
  }
  .pb-sm {
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
  .name {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
  }
}
.tq {
  margin-top: 70px;
  .title {
    margin-bottom: 20px;
  }
  .technical-question {
    background: url(/assets/images/agency/testimonial/bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    // overflow: visible;
    padding-top: 105px;
    // margin-bottom: 50px;
    @media screen and (max-width: 767px) {
      background: #203475;
    }
    .font-primary {
      @media screen and (max-width: 767px) {
        color: #ffffff !important;
      }
    }
    .video {
      background: #ffffff;
      padding: 30px 0px;
      min-height: 190px;
      border: 1px solid #203475;
      .title {
        font-size: 18px;
        margin: 10px 0px;
        line-height: normal;
        text-transform: capitalize;
        color: #24387a;
        font-weight: 500;
      }
    }
    .link-horizontal {
      text-align: center;
      margin-top: 30px;
      .btn-default {
        background-image: linear-gradient(
          to right,
          #afbff8,
          #edeef1,
          #d7d8de,
          #afbff8
        );
        color: #203475 !important;
      }
      .btn-default:focus {
        transition: all 0.4s ease-in-out;
        background-position: 100% 0;
      }
      @media screen and (max-width: 767px) {
        bottom: -66px;
      }
    }
  }
}
.basic {
  .form-group {
    @media screen and (max-width: 767px) {
      text-align: left;
    }
  }
}
